body {
  display: flex;
  flex-direction: column;
}


h1 { 
    font-family: "Open Sans";
    position: relative;
    color: #81B53C;
    font-size: 60px;
    text-align: center;
    margin: 10px;
  }
    /**/

#subtitle { 
    font-family: "Open Sans";
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}



.vis-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 700px; /*Maybe change this*/
  width: 100%;
}





.map-container {
  display: flex;  
  flex-direction: column;
  display: column;
  width: 50%;
  height: 100%;
  /*justify-content: left;*/
}

.key-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  visibility: hidden; /*To be changed when map loaded*/
}

.colored-rectangle{
  margin: 5px;
  width: 10%;/*50px;*/
  height:25px;
  border:1px solid #777;
  opacity: 0.7;
}

#green-rectangle {background-color: #81b53c}
#red-rectangle {background-color: #ca3333}
#yellow-rectangle {background-color: #e89323}

.rectangle-info{
  margin: 5px;
  width: 90%;/*50px;*/
}

p.rectangle-info{
  margin: 5px;
  font-size: 12px;
}

#text-boxes{
    width: 400px;
    height: 500px;
    margin: 5px;
    margin-left: 15px;
    text-align: left;
}


h3 { 
    font-family: "Open Sans";
    color: "grey";
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin: 0px;
}

p { 
    font-family: "Open Sans";
    color: #777;
    font-size: 12px;
}

#text-boxes p {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 17px;
}





/*MAP CSS*/

#map {
    
    height: 100%;/*433px;*/
    width: 100%;
/*    padding-left: 30px;
    padding-top: 5px;
    padding-right: 5px;*/
    
    /*height: 100%;*/

/*    display: flex;
    justify-content: left;*/ 
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#info-box{
    margin: 0 0 5px;
    color: #777;
}

#info-box-text{
    margin: 0 0 0.3px;
    text-align: left;
}



html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #327e3e;
}
body::-webkit-scrollbar {
  width: 20px;
  
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  margin: 0;
  padding: 0;
  outline: 0;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}



/*TABLE CSS*/

table{
  width:100%;
  /* table-layout: fixed; */
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 20px rgba(255,255,255,0.1);
  border-top: solid 20px rgba(255,255,255,0.1);
}


.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.table-container {
  padding: 0 30px 
}

th {background-color: #CBD3D8;}
th {padding: 5px; text-align: center; color:#07250c; font-size: 16px;}

td {
    font-size: 14px;
    font-weight: 500;
    overflow-wrap: break-word;
    line-height: 180%;
} 

td:nth-child(1) {
  background: #CBD3D8;
  border-left: none;
  text-align: center; 
  color:#07250c; 
  font-size: 16px;
  font-weight: bold;
  }
td:nth-child(2)  {
  text-align: center; 
  }
td:nth-child(3)  {
  text-align: center; 
  }
td:nth-child(4)  {
  text-align: center; 
  }
td:nth-child(5)  {
  text-align: center; 
  }
td:nth-child(8)  {
  text-align: center; 

  }

tr {
  font-family: "Open Sans";
  opacity: .75;
}

a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited { 
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(0, 0, 0);
}

/* selected link */
a:active {
  color: rgb(175, 185, 206);
}

/*FOOTER CSS*/

.footer {
  background-color: #666;
  color: #FFF;
  width:100%;
  padding: 40px;
  box-sizing: border-box;
}



.footer p{
  font-family: "Open Sans";
  /*font-style: italic;*/
  color: #FFFFFF;
  font-size: 18px !important;
}
